update.voce.chat {
    handle /downloads/* {
        root * /srv/update
        file_server
    }
    handle {
        request_body {
            max_size 64KB
        }
        reverse_proxy 127.0.0.1:8080
    }
}
